@model CS4540_A2.Models.Feedback

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Dept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseEffectiveRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseEffectiveRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOrganizedRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseOrganizedRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseObjMetRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseObjMetRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseOverallRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseOverallRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.fId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
