@model CS4540_A2.Models.Feedback
@{
    Layout = "";
    ViewData["Title"] = "SurveyLink";
    var course = ViewData["Course"] as Course;
}
<html>
<head>
    <meta name="author" content="Ken Wang">
    <meta name="description" content="A LO system for CS 4540">
    <meta name="charset" content="UTF-8">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet" href="style.css">
    <title>Learning Outcome System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CS4540_A2</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/jquery.auto-complete.css" />
</head>
<body>
    <div class="header">
        <header class="wrapper clearfix">
            <div class="logo-left">
                <a href="https://www.utah.edu/" target="_blank" style="text-decoration: none">
                    <img src="~/images/Ulogo.png" width="60" height="60" class="d-inline-block align-bottom" alt="">
                </a>
                <span class="header-text">
                    Learning Outcome System
                </span>
            </div>

            <!-- Search form -->
        </header>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="wrapper-nav clearfix">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </div>

    </nav>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <h2 class="display-4" style="text-align:center">Feedback Form for CS @course.Number @course.Semester @course.Year @course.Name </h2>

            <hr />
            <div class="row">
                <div class="col-md-4">
                    <h3>Course Effective Rate</h3>
                    <form class="rating">
                        <label>
                            <input type="radio" name="eff" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="eff" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="eff" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="eff" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="eff" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </form>
                    <h3>Course Organized Rate</h3>
                    <form class="rating">
                        <label>
                            <input type="radio" name="org" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="org" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="org" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="org" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="org" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </form>
                    <h3>Course Objective Met Rate</h3>
                    <form class="rating">
                        <label>
                            <input type="radio" name="obj" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="obj" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="obj" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="obj" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="obj" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </form>
                    <h3>Course Overall Rate</h3>
                    <form class="rating">
                        <label>
                            <input type="radio" name="overall" value="1" />
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="overall" value="2" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="overall" value="3" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="overall" value="4" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                        <label>
                            <input type="radio" name="overall" value="5" />
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </label>
                    </form>
                </div>

            </div>
            <div>
                <button id="SaveNoteBtn" class="btn  mt-2 btn-primary" onclick="Create('@course.CId')">Submit</button>
            </div>
        </main>
    </div>

    <footer class="bg-dark font-small text-white py-3">
        <div class="center">
            <a href="https://github.com/kenmingwang/CS4540" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <div class="footer-copyright text-center">
            © University of Utah - CS4540 - Fall - Ken Wang
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.auto-complete.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://kit.fontawesome.com/db17860b98.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/js/site.js"></script>
</body>

<script>
    $(':radio').change(function () {
        console.log('New star rating: ' + this.value);
    });

    var r1;
    var r2;
    var r3;
    var r4;

    function GetRatings() {
        r1 = $(':radio').value;
    }

    function Create(cid) {
        var radioValue = $("input[name='stars']:checked").val();
        console.log('Test ' + radioValue);

        var surveyData = JSON.stringify({
            'cID': cid,
            'eff': $("input[name='eff']:checked").val(),
            'org': $("input[name='org']:checked").val(),
            'obj': $("input[name='obj']:checked").val(),
            'overall': $("input[name='overall']:checked").val(),
        });
        $.ajax({
            url: '/Feedbacks/onPostSubmitSurvey',
            type: 'post',
            contentType: 'application/json',
            data: surveyData,
            success: function (response) {
                $('#SaveNoteBtn').html( 'Submitted');
                $('#SaveNoteBtn').removeClass('btn-primary');
                $('#SaveNoteBtn').addClass('btn-success');
                $('#SaveNoteBtn').addClass('disabled');
            }
        });
    }
</script>

</html>

