<!-- Name: Ken Wang
     UID: u1193853 -->
@using CS4540_A2.Util
@{
    ViewData["Title"] = "DetailsProfessor";
    string pname = ViewData["Name"] as string;
    var name = UserNameAndRolesUtil.UserNameToActualName(pname);
    List<Course> Courses = ViewData["Courses"] as List<Course>;
    Dictionary<int, int> AssignmentMap = ViewData["AssignmentMap"] as Dictionary<int, int>;
    Dictionary<int, int[]> ExampleMap = ViewData["ExampleMap"] as Dictionary<int, int[]>;
    Dictionary<Course, int> progressMap = ViewData["ProgressMap"] as Dictionary<Course, int>;
    Dictionary<Course, int> OverallRateMap = ViewData["EffRateMap"] as Dictionary<Course, int>;
    var Ccount = 1;
}
<script type="text/javascript">
    $(function () {
        $('#collapse1').removeClass('hide');
        $('#collapse1').addClass('show');
    });

</script>

<div>
    <h1 class="display-4">Professor @name[0] @name[1]'s LOS Courses</h1>
</div>

<div id="accordion">
    @foreach (Course c in Courses)
    {
        <div class="card">
            <button id="heading@(Ccount)" + class="card-header btn btn-lg " data-toggle="collapse" data-target="#collapse@(Ccount)" aria-expanded="true" aria-controls="collapse@(Ccount)">
                <span class="table-header-color">
                    @Html.DisplayFor(modelItem => c.Dept) -
                    @Html.DisplayFor(modelItem => c.Number) -
                    @Html.DisplayFor(modelItem => c.Semester) -
                    @Html.DisplayFor(modelItem => c.Year) -
                    @Html.DisplayFor(modelItem => c.Name)
                </span>
                @if (progressMap[c] != 100)
                {
                    <span class="badge badge-pill badge-warning">Incomplete</span>
                }
                else
                {
                    <span class="badge badge-pill badge-success">Completed</span>
                }
                <div class="star-ratings-sprite center">
                    <span style="width: @(OverallRateMap[c])%"
                          class="star-ratings-sprite-rating">
                    </span>
                </div>

            </button>


            <div id="collapse@(Ccount)" class="collapse hide" aria-labelledby="heading@(Ccount)" data-parent="#accordion">
                <a asp-controller="Courses" asp-action="Details" asp-route-cid="@c.CId" target="_blank"
                   class=" btn btn-secondary w-100">
                    Click to see Details of this course
                </a>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Learning Outcome</th>
                            <th scope="col">
                                Evaluation Metric
                            </th>
                            <th scope="col">
                                Examples
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                        @foreach (LearningOutcome LOS in c.LOS)
                        {
                            <tr>
                                <td>@LOS.Name</td>
                                <td>
                                    @if (AssignmentMap.ContainsKey(LOS.LId))
                                    {
                                        <a asp-controller="Courses" asp-action="OnGetDownloadDbAsync" asp-route-id="@(LOS.LId)"
                                           target="_blank">@LOS.Name Assignment</a>
                                    }
                                    else
                                    {
                                        <a id="Ass@(LOS.LId)" class="isDisabled" asp-controller="Courses" asp-action="OnGetDownloadDbAsync" asp-route-id="@(LOS.LId)"
                                           target="_blank">@LOS.Name Assignment</a>
                                    }
                                </td>
                                <td>
                                    @if (ExampleMap.ContainsKey(LOS.LId) && ExampleMap[LOS.LId][0] != -1)
                                    {
                                        <a class="btn btn-info btn-xs " asp-controller="Courses" asp-action="OnGetDownloadDbExampleAsync"
                                           asp-route-id="@(LOS.LId)" asp-route-rate="good"
                                           target="_blank">Good</a>
                                    }
                                    else
                                    {
                                        <a id="Exgood_@(LOS.LId)" class="btn btn-info btn-xs disabled" asp-controller="Courses"
                                           asp-action="OnGetDownloadDbExampleAsync"
                                           asp-route-id="@(LOS.LId)" asp-route-rate="good"
                                           target="_blank">Good</a>
                                    }
                                    @if (ExampleMap.ContainsKey(LOS.LId) && ExampleMap[LOS.LId][1] != -1)
                                    {
                                        <a class="btn btn-info btn-xs " asp-controller="Courses" asp-action="OnGetDownloadDbExampleAsync"
                                           asp-route-id="@(LOS.LId)" asp-route-rate="average"
                                           target="_blank">Average</a>
                                    }
                                    else
                                    {
                                        <a id="Exaverage_@(LOS.LId)" class="btn btn-info btn-xs disabled" asp-controller="Courses"
                                           asp-action="OnGetDownloadDbExampleAsync"
                                           asp-route-id="@(LOS.LId)" asp-route-rate="average"
                                           target="_blank">Average</a>
                                    }
                                    @if (ExampleMap.ContainsKey(LOS.LId) && ExampleMap[LOS.LId][2] != -1)
                                    {
                                        <a class="btn btn-info btn-xs " asp-controller="Courses" asp-action="OnGetDownloadDbExampleAsync"
                                           asp-route-id="@(LOS.LId)" asp-route-rate="bad"
                                           target="_blank">Poor</a>
                                    }
                                    else
                                    {
                                        <a id="Expoor_@(LOS.LId)" class="btn btn-info btn-xs disabled" asp-controller="Courses"
                                           asp-action="OnGetDownloadDbExampleAsync"
                                           asp-route-id="@(LOS.LId)" asp-route-rate="bad"
                                           target="_blank">Poor</a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        Ccount += 1;
    }


</div>
