<!-- Name: Ken Wang
     UID: u1193853 -->
@using CS4540_A2.Util
@using CS4540_A2.Controllers

@{ ViewData["Title"] = "Deparment Chair"; }

@{
    List<CoursePerSemester> courses = ViewData["CoursesPerSemester"] as List<CoursePerSemester>;
    Dictionary<Course, string> map = ViewData["CoursesMap"] as Dictionary<Course, string>;
    Dictionary<Course, int> progressMap = ViewData["ProgressMap"] as Dictionary<Course, int>;
    Dictionary<CoursePerSemester, bool> progressCompletionMap =  ViewData["CourseCompletionPerSemester"] as Dictionary<CoursePerSemester, bool>;

    int cardCounter = 0;
    int progressCounter = 0;
}



<div>
    <h1 class="display-4">CS Deparment LOS Courses</h1>
</div>
<div id="accordion">
    @foreach (var coursePS in courses)
    {
        <div class="card">
            <button id="heading_@(cardCounter)" class="card-header btn btn-lg " data-toggle="collapse"
                    data-target="#collapse_@(cardCounter)" aria-expanded="true" aria-controls="collapse_@(cardCounter)">
                <span class="table-header-color">Computer-Science-@coursePS.Year-@coursePS.semester</span>
                @if (progressCompletionMap[coursePS])
                {
                    <span class="badge badge-pill badge-success">Completed</span>
                }
                else
                {
                    <span class="badge badge-pill badge-warning">In Progress</span>
                }
            </button>

            <div id="collapse_@(cardCounter)" class="collapse hide" aria-labelledby="heading_@(cardCounter)" data-parent="#accordion">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course</th>
                            <th scope="col">
                                Professor
                            </th>
                            <th scope="col">
                                Progress
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var c in coursePS.Courses)
                        {
                            var progress = progressMap[c];
                            var username = map[c];
                            var name = UserNameAndRolesUtil.UserNameToActualName(username);
                            <tr>
                                <td class="td-width">
                                    <a asp-action="Details" asp-route-cId="@c.CId">
                                        @Html.DisplayFor(modelItem => c.Dept) -
                                        @Html.DisplayFor(modelItem => c.Number) -
                                        @Html.DisplayFor(modelItem => c.Name)
                                    </a>
                                </td>
                                <td><a asp-action="DetailsProfessor" asp-route-ProfessorUserName="@map[c]">@name[0] @name[1]</a></td>
                                <td>
                                    <div class="progress">
                                        
                                        <div id="progress-bar_@progressCounter" class="progress-bar progress-bar-striped" role="progressbar" style="width: @(progress)%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }

                    </tbody>

                </table>
            </div>
        </div>
        cardCounter++;
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#collapse_0').removeClass('hide');
        $('#collapse_0').addClass('show');
    });

</script>
